<html><body><h1>mtb/components\component.py</h1>Killed 4 out of 5 mutants<h2>Survived</h2>Survived mutation testing. These mutants show holes in your test suite.<h3>Mutant 44</h3><pre>--- mtb/components\component.py
+++ mtb/components\component.py
@@ -4,7 +4,7 @@
 
 def calc(x):
     if(len(x) < 8):
-        raise ValueError('String is to short')
+        raise ValueError('XXString is to shortXX')
     print(bilanceGeneration.generateUnknownFstruct())
     sm = StringModifier()
     reverse = sm.reverseString(x)
</pre></body></html>